body{
	background-color:#bbb;
}

#main{
	border:2px solid #335;
	height:29em;
	padding:0.5em;
	overflow:auto;
	background-color:#f7f7f7;
	box-shadow:inset 2px 2px 3px #999;
}

#main .cards{
	display:none;
}
#main .displayed{
	
}
#main #card1 {
	display:block;
}
#main #card2-fb, #main #card2-non-fb {
	padding:1em 0.5em;
}
#main #card2-fb>div{
	width:48.5%;
}
#main .trigger{
	margin:1.4em 3% 0.5em;
	font-weight:bold;
	border-radius:3px 3px 0 0;
}
#main .trigger:first-child{
	margin-top:0.5em;
}

#main .z_container{
	display:none;
	width:92%;
	background-color:#eee;
	text-align:center;
	margin-top:-0.6em;
	margin-left:3%;
	padding:2% 0;
	border:2px solid #595;
	border-radius:0 5px 0 5px;
}

#main .facebook-login-signup{
	cursor:pointer;
	width:8em;
	border-radius:3px;
	border:1px solid #555;
	box-shadow:2px 2px 2px #777;
	
}
#main .facebook-login-signup:hover{
	box-shadow:2px 2px 3px #444;
}

#main #recipient-fb-image{
	border:1px solid #888;
	background-color:#fff;
	height:115px;
	max-width:250px;
	padding:4px;
	margin-bottom:0.5em;
	box-shadow:2px 2px 3px #777;
	border-radius:5px;
}
#main #fb-button{
	cursor:pointer;
	height:2em;
	margin-left:-0.2em;
}

#main #upcoming-birthdays-container{
	width:97%;
	height:24em;
	padding:0.5em 0.4em;
	overflow:auto;
}
#main #upcoming-birthdays-container>div {
	font-size:1.1em;
	position:relative;
	width:95%;
	border-bottom:1px solid #ddd;
	margin:0 auto;
	cursor:pointer;
	border-radius:2px;
/*	box-shadow:1px 1px 1px #999;*/
}

#main #upcoming-birthdays-container>div:hover{
	background-color:#e5e5e5;
}

#main #upcoming-birthdays-container> div.selected {
	color:#fff;
	background-color:#333;
}
#main #upcoming-birthdays-container>div>div.name{
	position:absolute;
	left:70px;
	bottom:0;
	font-size:1em;
	margin-top:0.7em
}
#main #upcoming-birthdays-container>div>div.date{
	font-size:0.85em;
	float:right;
	margin:0.1em 0.3em 0 0;
}
#main #upcoming-birthdays-container> div.selected >div.date{
	
}

#main #upcoming-birthdays-container> div > div.fb-image{
	float:left;
	margin-right:0.5em;
}
#main #upcoming-birthdays-container> div > div.fb-image>img {
	border:1px solid #888;
	background-color:#fff;
	height:45px;
	width:45px;
	padding:1px;
	border-radius:9px;
}

#main .clear{
	clear:both;
}
#main .hidden{
	display:none;
}